<h1> Title: <%= @book.title%> </h1>
<p><%= @book.snippet %></p>
<h4>Author:<%=@book.author.name%></h4> 

<form action="/books/<%= @book.id%>" method="post">
<input type="hidden" name="_method" value="delete"/>
<input type="submit" value="Delete book"/>
</form>

<a href="/books">All Books</a>