<li> Destination: <%= @train.destination %></li>
<li> Time: <%= @train.time %></li>

<form action="/trains/<%= @train.id %>" method="post">
    <input type="hidden" name="_method" value="delete"/>
    <input type="submit" value="delete train"/>
</form>

