<form action="/teachers" method="post">
<label>Name:</label>
<input type="text" name="teacher[name]" />

<br/>

<label>Current Students:</label>
<br/>
<% @students.each do |student| %>
    <input type='checkbox' name='teacher[students][]' value="<%= student.id%>"/>
    <%= student.name %>
    <input type="text" name='course[name][]' />
    <br/>

<% end %>


<label>New Student: </label>
<input type="text" name='student[name]' />
<input type="text" name='teacher[student][course]'/>
<br/>

<input type="submit" value="add teacher" />
</form>